<!DOCTYPE html>
<html>
<head>
    <title> Compra Feita - Editar {{titulo}} </title>
</head>

<body>

    <h3> Editar {{titulo}} </h3>
    <form action="/usuario/editar/{{ usuario.id }}" method="post">
        <p><label for="user">Username</label></p>
        <p><input type="text" id="user" name="user" value= "{{usuario.nome}}"</p>

        <p><label for="user">E-mail</label></p>
        <p><input type="text" id="email" name="email" value= "{{usuario.email}}"</p>

        <p><label for="user">Passoword</label></p>
        <p><input type="text" id="senha" name="senha" value= "{{usuario.senha}}"</p>

        <p><label for="user">Endereço</label></p>
        <p><input type="text" id="ende" name="end" value= "{{usuario.end}}"</p>

        <p><input type="submit" value="Alterar"</p>
    </form>
    <a href={{url_for("cadusuario")}}> Cancelar </a>


    

</body>

</html>