<!DOCTYPE html>
<html>
<head>
    <title> Compra Feita - {{titulo}} </title>
</head>

<body>

    <h3> {{titulo}} </h3>
    
    <h2>Favoritos</h2>
        <div>
            <p>Produto 01 - Favoritado
                Descrição do Produto
                Link Para o Produto
            </p>
        </div>
        <div>
            <p>Produto 02 - Favoritado
                Descrição do Produto
                Link Para o Produto
            </p>
        </div> 
        <div>
            <p>Produto 03 - Favoritado
                Descrição do Produto
                Link Para o Produto
            </p>
        </div> 
        <div>
            <p>Produto 04 - Favoritado
                Descricão do Produto
                Link Para o Produto
            </p>
        </div> 
        <div>
            <p>Produto 05 - Favoritado
                Descrição do Produto
                Link Para o Produto
            </p>
        </div>

</body>

</html>