<!DOCTYPE html>
<html>
<head>
    <title> Compra Feita - Com Rapidez e Segurança </title>
</head>

<body>
    <h3> Bem vindo Ao Nosso Site de Compras Online </h3>
    <p><a href="{{url_for("cadusuario")}}"> Cadastro Usuario </a></p>
    <p><a href="{{url_for("anuncio")}}"> Anuncios </a></p>
    <p><a href="{{url_for("pergunta")}}"> Perguntas </a></p>
    <p><a href="{{url_for("compra")}}"> Compras </a></p>
    <p><a href="{{url_for("favoritos")}}"> Favoritos </a></p>
    <p><a href="{{url_for("categoria")}}"> Categorias </a></p>
    <p><a href="{{url_for("rel_vendas")}}"> Relatorios de Vendas </a></p>
    <p><a href="{{url_for("rel_compras")}}"> Relatorio de Compras </a></p>
    
    

</body>

</html>