<!DOCTYPE html>
<html>
<head>
    <title> Compra Feita - {{titulo}} </title>
</head>

<body>

    <h3> {{titulo}} </h3>
    <form action="loginfeito" method="post">
        <p><label for="user">Login</label></p>
        <p><input type="text" id="user" name="user"</p>

        <p><label for="user">Senha</label></p>
        <p><input type="text" id="passoword" name="passoword"</p>
        
        
        <p><input type="button" value="Entrar"</p>
        

        


    </form>

</body>

</html>