<!DOCTYPE html>
<html>
<head>
    <title> Compra Feita - {{titulo}} </title>
</head>

<body>
    
        <h1> {{titulo}} </h1>
        <h2>Aqui estão as perguntas feitas para você sobre seus produtos</h2>
    <div>    
        
        <h3>Pegunta numero 01</h3>
        <p><label for="Respostas">Respostas</label></p>
        <input type="text" name="Respostas" size="40"/>
        <p><input type="button" value="Enviar"</p>
    </div> 
    <div>    
        
        <h3>Pegunta numero 02</h3>
        <p><label for="Respostas">Respostas</label></p>
        <input type="text" name="Respostas" size="40"/>
        <p><input type="button" value="Enviar"</p>
    </div>
    <div>    
        
        <h3>Pegunta numero 03</h3>
        <p><label for="Respostas">Respostas</label></p>
        <input type="text" name="Respostas" size="40"/>
        <p><input type="button" value="Enviar"</p>
    </div>   
</body>

</html>