<!DOCTYPE html>
<html>
<head>
    <title> Compra Feita - {{titulo}} </title>
</head>

<body>

    <h3> {{titulo}} </h3>
    
    <h2>Relatorio de suas Compras</h2>
        <div>
            <p><b>Produto 01</b></p> 
            <p>Data Compra: 00/00/0000</p>
            <p>Status: Entrege</p>
            <p>Data Entrega: 00/00/0000</p>
            <p>Sua Avaliação:</p>
            
        </div>
        <div>
            <p><b>Produto 02</b></p> 
            <p>Data Compra: 00/00/0000</p>
            <p>Status: Entrege</p>
            <p>Data Entrega: 00/00/0000</p>
            <p>Sua Avaliação:</p>
        </div> 
        <div>
            <p><b>Produto 03</b></p> 
            <p>Data Compra: 00/00/0000</p>
            <p>Status: Entrege</p>
            <p>Data Entrega: 00/00/0000</p>
            <p>Sua Avaliação:</p>
        </div> 
        <div>
            <p><b>Produto 04</b></p> 
            <p>Data Compra: 00/00/0000</p>
            <p>Status: Entrege</p>
            <p>Data Entrega: 00/00/0000</p>
            <p>Sua Avaliação:</p>
        </div> 
        <div>
            <p><b>Produto 05</b></p> 
            <p>Data Compra: 00/00/0000</p>
            <p>Status: Entrege</p>
            <p>Data Entrega: 00/00/0000</p>
            <p>Sua Avaliação:</p>S
        </div>

</body>

</html>