<!DOCTYPE html>
<html>
<head>
    <title> Compra Feita - {{titulo}} </title>
</head>

<body>

    <h3> {{titulo}} </h3>
    
    <h2>Relatorio de suas Vendas</h2>
        <div>
            <p><b>Produto 01</b></p> 
            <p>Descrição do Produto</p>
            <p>Link Para o Produto</p>
            <p>Quantidade Vendidos</p>
            <p>Avaliação do Comprador:</p>
            
        </div>
        <div>
            <p><b>Produto 02</b></p> 
            <p>Descrição do Produto</p>
            <p>Link Para o Produto</p>
            <p>Quantidade Vendidos</p>
            <p>Avaliação do Comprador:</p>
        </div> 
        <div>
            <p><b>Produto 03</b></p> 
            <p>Descrição do Produto</p>
            <p>Link Para o Produto</p>
            <p>Quantidade Vendidos</p>
            <p>Avaliação do Comprador:</p>
        </div> 
        <div>
            <p><b>Produto 04</b></p> 
            <p>Descrição do Produto</p>
            <p>Link Para o Produto</p>
            <p>Quantidade Vendidos</p>
            <p>Avaliação do Comprador:</p>
        </div> 
        <div>
            <p><b>Produto 05</b></p> 
            <p>Descrição do Produto</p>
            <p>Link Para o Produto</p>
            <p>Quantidade Vendidos</p>
            <p>Avaliação do Comprador:</p>
        </div>

</body>

</html>